*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 60px;
    margin-top: 30px;
    position: absolute;
    color: white;
}
#top h1{
    font-size: 70px;
}
#top nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 40px;
    
    
}
#top nav ul li{
    display: flex;
    list-style: none;
    
}
#top nav ul li a{
    text-decoration: none;
    color: white;
}
#top button{
    font-size: xx-large;
}
#top button i{
    color: black;
}
#top nav ul li a:hover{
    color: red;
    font-size: larger;
}
/*----------home-----------*/

#home{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-image: url(coffee.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
 


}
#home div{
    width: 50%;
    margin-left: 15%;
    line-height: 50px;
    font-size: xx-large;
}
#home div h1{
    width: 50PX;
    color: white;
    font-size: 100px;
}
#home div p{
    color: white;
}

#home div .B1{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 30px
}
#home div .B2{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 30px;
}
#home div .B1:hover{
    color: red;
    background: lightcoral;
    border: 1px solid white;
    font-size: 40px;
    
}
#home div .B2:hover{
    color: red;
    background: lightgoldenrodyellow;
    border: 1px solid white;
    font-size: 40px;
}
/*--------second section starts here------*/
#second{
       width: 100%;
       height: 100vh;
       border: 1px solid black;
       background-size: cover;
       display: flex;
       align-items: center;
      background-color:lightgoldenrodyellow;
   
}
#second div{
    width: 100%;
    margin-left: 5%;
    line-height: 50px;
    font-size: xx-large;
    
}
#second div h1{
       font-size: 70px;
}
#second button{
   font-size: 30px;
   padding-top: 10px;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 10px;
   color: red;
   background-color: black;
}
#second div img{
    width: 800px;
    height: 500px;
}
/*---------third section starts here------*/
#third .offer{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
   

}
#third .offer div{
    border: 1px solid black;
    width: 400px;
    height: 400px;
   
    
   
}