/#{
    margin: 0px;
    padding: 0px;
}
#img{
    display: flex;
    justify-content: center;
    color: aqua;
    background-color: black;
}




#navbar{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
#navbar id a{
    text-decoration: none;
    color: brown;
}
#boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#boxes div{
     width: 200px;
    height: 200px;
    border: 1px solid blue;
}
#boxes div ul{
    color: burlywood;
}
#top1{
    width: 100%;
    height: 80vh;
    border: 1px solid black;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  #top1 .box2 {
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.box2 div{
   width: 400px;
    height: 600px;
    border: 1px solid black;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}