*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* font-family: "Jaro", serif;*/
  font-family: "Oleo Script", serif;
 /* font-family: "Spicy Rice", serif;*/
 /*font-family: "Charm", serif;*/

}
/*=============[HEADER STARTS HERE]==========*/

#head{
    width: 100%;
    height: 72px;
    font-size: 32px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 140px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#logo img{
    height: 110px;
}
#logo img:hover{
    height: 130px;
}
#logo .contains{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#logo .contains ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
     gap: 50px;
     font-size: 30px;
   
     
}
#logo .contains ul li a{
    text-decoration: none;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-family: "Charm", serif;
    
}
#logo .contains ul li a:hover{
    color: aliceblue;
    font-size: 40px;
    background-color: black;
}
#logo .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 40px;
    gap: 20px;
    transition: all 3s ease;
}
#logo .icons:hover{
    color: sienna;
}
/*===========[HEADER ENDS]==============*/
/*===========[MAIN TAG STARTS HERE]===========--*/
/*===============[first section starts here]=========*/
#signature-series{
    width: 100%;
    height: 80vh;
    border: 1px solid black;
     background-image: url(./Ajmal_Royal_Series_Static.webp);
     background-size: cover;
    animation:sellers 5s ease infinite;
}
@keyframes sellers{
    0%{
        background-image: url(./Ajmal_Royal_Series_Static.webp);
    }
    25%{
        background-image: url(./Signature_series.webp);
    }
    75%{
        background-image: url(./global\ best\ sellers.webp);
    }
    100%{
        background-image: url(./SS-winter-2024.webp);
    }
    
    
}
 /* ===============[first section end]=============--*/
/*--================[second section starts here]======--*/
#new-arrivals{
    width: 100%;
    height: 100vh;
  /*  border: 1px solid black;*/
}
#new-arrivals .discover{
    margin-top: 70px;
  /*  border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      font-size: 30px;
}

#new-arrivals .discover  div h3{
   /* border: 1px solid sienna;
    border-radius: 100%;*/
    color: sienna;
}
#new-arrivals .discover  div h1{
    font-family: "Charm", serif;
    font-size: 70px;
    text-shadow: 25px 25px 30px lightslategrey;
}
#new-arrivals .discover  div h1{
    margin-bottom: 30px;
}
#new-arrivals .discover h3:hover{
    background-color: wheat;
    color: black;
}
#new-arrivals .product {
   width: 100%;
   height: auto;
 /*   border: 1px solid black;*/
   
}
#new-arrivals .product  div{
    width: 600px;
    height: auto;
  /*  border: 1px solid black;*/
    font-size: 20px;
    
  
   
}
#new-arrivals .product{
    display: grid;
    grid-template-columns: repeat(7,600px);
    align-items: center;
    overflow-x: scroll;
   scrollbar-width: none;
   gap: 30px;
   flex-wrap: wrap;
  
}
#new-arrivals .product img{
    width: 600px;
    height: 600px;
    border: 1px solid grey;
    
}
#new-arrivals .product h2{
    background-color: black;
    color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
/*#new-arrivals .product div img:hover{
   scale: 1.1;
   
}*/
#new-arrivals .product div p:hover{
    color: darkgoldenrod;
}



/*-=============[third section starts]=================*/
#best-seller{
    width: 100%;
    height: 100vh;
 /*   border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#best-seller .content div{
    width: 700px;
    height: 735px;
  /* border: 1px solid black;*/
   
   
}
#best-seller .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#best-seller .content div img{
    width: 700px;
    height: 700px;
}
#best-seller .content div h1{
    font-size: 40px;
    transition: all 2s ease-in-out;
}
#best-seller .content div h1:hover{
    color: sienna;
}
#best-seller .categories h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--=============[third section end]==================  -->*/
/*================[fourth section starts here]==========*/
#brands{
    width: 100%;
    height: auto;
  /*  border: 1px solid black;*/
    flex-wrap: wrap;
}
#brands .categories div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    margin-bottom: 40px;
    font-family: "Charm", serif;
    text-shadow: 25px 25px 30px lightslategrey;
   

   
}
#brands .brand div{
    width: 400px;
    height: 400px;
   /* border: 1px solid black;*/
    border-radius: 100%;
    flex-wrap: wrap;
    
}
#brands .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#brands .brand div img{
    width: 400px;
    height: 400px;
    border: 1px groove grey;
    border-radius: 100%;
   
}
#brands .brand div h2{
    font-size: 30px;
}
/*================[fourth section ends here]==========*/
/*-================[fifth section starts here]==========-*/
#gifting{
    width: 100%;
    height: auto;
   /* border: 1px solid black;*/
    display: flex;
    justify-content: center;
  
    margin-top: 50px;
    
}
#gifting .gift-head div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    margin-bottom: 40px;
    font-family: "Charm", serif;
    text-shadow: 25px 25px 30px lightslategrey;
    
    
}
#gifting .gift-container div{
    width: 550px;
    height: 840px;
  /*  border: 1px solid black;*/
   font-size: 20px;
   flex-wrap: wrap;
}
#gifting .gift-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#gifting .gift-container div img{
    width: 550px;
    height: 600px;
    border: 1px solid grey;

}
/*#gifting .gift-container div img:hover{
    background-color: gainsboro;
    scale: 1.1;
  
}*/
#gifting .gift-container div h2{
    background-color: black;
    color: antiquewhite;
     display: flex;
    justify-content: center;
    
    padding-top: 20px;
    padding-bottom: 20px;
  
}
#gifting .gift-container div p:hover{
     color: darkgoldenrod;
}
/*--================[fifth section starts here]==========-*/
/*--================[sixth section starts here]==========-*/
#fragrances{
    width: 100%;
    height: auto;
 /*   border: 1px solid black;*/
    margin-top: 40px;
}
#fragrances .journey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      font-size: 30px;

}
#fragrances .journey div h3{
   color: sienna;
   font-size: 40px;
}
#fragrances .journey div h3:hover{
   color: black;
   
}
#fragrances .journey div h1{
    font-size: 70px;
    font-family: "Charm", serif;
    text-shadow: 25px 25px 30px lightslategrey;
}

#fragrances .trending {
    width: 100%;
    height: auto;
  /*   border: 1px solid black;*/
  margin-top: 40px;
    
 }
 #fragrances .trending  div{
     width: 600px;
     height: auto;
   /*  border: 1px solid black;*/
     font-size: 20px;
   
    
 }
 #fragrances .trending{
     display: grid;
     grid-template-columns: repeat(7,600px);
     align-items: center;
     overflow-x: scroll;
    scrollbar-width: none;
    gap: 30px;
    flex-wrap: wrap;
 }
 #fragrances .trending img{
     width: 600px;
     height: 600px;
     border: 1px solid grey;
 }
 #fragrances .trending h2{
     background-color: black;
     color: antiquewhite;
     padding-top: 20px;
     padding-bottom: 20px;
     
 }
/* #fragrances .trending div img:hover{
    scale: 1.1;
 }*/
 #fragrances .trending div p:hover{
     color: darkgoldenrod;
 }
 /* <!--================[sixth section starts here]==========-->*/
 /*<!--================[seventh section starts here]==========-->*/
#footprint{
    width: 100%;
    height: auto;
   /* border: 1px solid black;*/
    margin-top: 40px;
    flex-wrap: wrap;
}
#footprint .global {
    width: 100%;
    height:  auto;
  /*  border: 1px solid black;*/
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
    font-size: 30px;
    background-color: aliceblue;
    flex-direction: column;
    flex-wrap: wrap;
}
#footprint .global  h2{
   font-size: 40px;
    color: sienna;
}
#footprint .global div  h2:hover{
    color: black;
}
#footprint.delivery div{
    width: 300px;
    height: 200px;
    border: 1px solid black;

}

/*<!--================[seventh section end here]==========-->*/
#delivery{
    width: 100%;
    height: auto;
  /*  border: 1px solid black;*/
    margin-top: 40px;
    
}
#delivery .inform {
    width: 100%;
    height:  50vh;
 /*   border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#delivery .inform div{
    width: 700px;
    height: 500px;
   border-right: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   font-size: 35px;

    
}
#delivery .inform div i{
   font-size:  50px;
   color: sienna;
}
/*!--================[eightth section end here]==========-->*/
/* <!--=====================[MAIN TAG END]===================-->*/
 /*<!--=======================[FOOTER STARTS HERE]==============-->*/
#contact {
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding-top: 60px;
    background-color: black;
    flex-wrap: wrap;
}
#contact p{
   font-size: 30px;
   color: aliceblue;
}

#contact center input{
        width:800PX;
        height:7vh;
        font-size: 30px;
        padding-left: 20px;
}
#contact button{
    font-size: 60px;
    background-color: goldenrod;
    color: aliceblue;
  
   
}
#contact button i{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#contact .signup div{
    width: 100%;
    height: 700px;
    border-right: 1px solid aliceblue;
    flex-direction: column;
    padding-top: 40px;
    color: aliceblue;
   
}
#contact .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#contact .signup h1{
    transition: all 3s ease;
}
#contact .signup h1:hover{
    color: sienna;
}
#contact .signup  i{
    font-size: 20px;
    background-color: black;
    padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 20px;
      border-radius: 100%;
      font-size: 50px;
      color: aliceblue;
      border: 5px solid aliceblue;
}
#contact .signup i:hover{
    background-color: goldenrod;
    border: 5px solid darkred;
}  
#contact .signup h2{
    font-size: 30px;
    transition: all 3s ease;
}
#contact .signup h2:hover{
    color: sienna;
}
#inp{
    display: none;
}
#bars{
    display: none;
}
/*<!--=======================[FOOTER end HERE]==============-->*/
/*===============[MEDIA QUERY STARTS HERE]===========*/
@media (max-width:450px){
    #logo{
        height: 100px;
        width: 100%;
        background-color: aliceblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    #heading nav .contains ul{
        display: none;
    }
    #inp:checked~ #heading nav .contains ul{
        display: flex;
       flex-direction: column;
        position: absolute;
        top: 12%;
        right:7%;
        padding: 20px;
        border-radius: 10px;
        background-color: aliceblue;
         line-height: 5%;
         

    }
    #heading nav .contains ul{
        font-size: 10px;
    }
    #bars{
        display: block;
        position: absolute;
        top: 3%;
        right: 9%;
        font-size: 35px;
        color: aliceblue;
        z-index: 50;
    }
    #heading #head marquee{
        display: none;
    }
    #logo .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        font-size: 20px;
        gap: 10px;

    }
    #logo img{
        height: 90px;
    }

 /*--================[second section starts here]======--*/
#new-arrivals{
    width: 100%;
    height: auto;
  /*  border: 1px solid black;*/
   
}
#new-arrivals .discover{
    margin-top: 70px;
  /*  border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      font-size: 25px;
     
}
#new-arrivals .discover p br{
    display: none;
}



#new-arrivals .discover  div h3{
   /* border: 1px solid sienna;
    border-radius: 100%;*/
    color: sienna;
    font-size: 30px;
}

#new-arrivals .discover  div h1{
    font-family: "Charm", serif;
    font-size: 30px;
    text-shadow: 25px 25px 30px lightslategrey;
}
#new-arrivals .discover  div h1{
    margin-bottom: 30px;
}
/*#new-arrivals .discover h3:hover{
    background-color: wheat;
}*/
#new-arrivals .product {
   width: 100%;
   height: auto;
 /*   border: 1px solid black;*/
   
}
#new-arrivals .product  div{
    width: 100%;
    height: auto;
  /*  border: 1px solid black;*/
    font-size: 20px;
    flex-wrap: wrap;
    
  
   
}
#new-arrivals .product{
    display: grid;
    grid-template-columns: repeat(7,100%);
    align-items: center;
    overflow-x: scroll;
   scrollbar-width: none;
   gap: 30px;
   flex-wrap: wrap;
  
}
#new-arrivals .product img{
    width: 100%;
    height: 400px;
    border: 1px solid grey;
    
}
#new-arrivals .product h2{
    background-color: black;
    color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    
}
/*new-arrivals .product div img:hover{
   scale: 1.1;
   
}*/
#new-arrivals .product div p:hover{
    color: darkgoldenrod;
}


/*===============[second section end]===========*/
/*-=============[third section starts]=================*/
#best-seller{
    width: 100%;
    height: auto;
 /*   border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#best-seller .content div{
    width: 100%;
    height: 550px;
  /* border: 1px solid black;*/
     flex-wrap: wrap;
   
   
}
#best-seller .content br{
    display: none;
}

#best-seller .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
#best-seller .content div img{
    width: 100%;
    height: 500px;
}
#best-seller .content div h1{
    font-size: 40px;
    transition: all 2s ease-in-out;
    text-align: center;
   
}
#best-seller .content div h1:hover{
    color: sienna;
}

/*--=============[third section end]==================  -->*/
/*================[fourth section starts here]==========*/
#brands{
    width: 100%;
    height: auto;
  /*  border: 1px solid black;*/
    flex-wrap: wrap;
    margin-top: 50px;
}
#brands .categories div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 40px;
    font-family: "Charm", serif;
    text-shadow: 25px 25px 30px lightslategrey;
   

   
}
#brands .brand div{
    width: 200px;
    height: 200px;
   /* border: 1px solid black;*/
    border-radius: 100%;
    flex-wrap: wrap;
    
}
#brands .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}
#brands .brand div img{
    width: 200px;
    height: 200px;
    border: 1px groove grey;
    border-radius: 100%;
   
}
#brands .brand div h2{
    font-size: 20px;
}
/*================[fourth section ends here]==========*/
/*-================[fifth section starts here]==========-*/
#gifting{
    width: 100%;
    height: auto;
   /* border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    
}
#gifting .gift-head div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  /*  margin-bottom: 40px;*/
    font-family: "Charm", serif;
    text-shadow: 25px 25px 30px lightslategrey;
    
    
}
#gifting .gift-container div{
    width: 100%;
    height: auto;
  /*  border: 1px solid black;*/
   font-size: 15px;
   flex-wrap: wrap;
}
#gifting .gift-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
   /* text-align: center;*/
}
#gifting .gift-container div img{
    width:100%;
    height: 500px;
    border: 1px solid grey;

}
#gifting .gift-container div img:hover{
   
   display: none;
  
}
#gifting .gift-container div h2{
    background-color: black;
    color: antiquewhite;
     display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  
}
#gifting .gift-container div p:hover{
     color: darkgoldenrod;
}
/*--================[fifth section starts here]==========-*/
/*--================[sixth section starts here]==========-*/
#fragrances{
    width: 100%;
    height: auto;
 /*   border: 1px solid black;*/
}
#fragrances .journey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      font-size: 20px;
  /*    text-align: center;*/

}
#fragrances .journey div h3{
   color: sienna;
   font-size: 30px;
}
#fragrances .journey div h1{
    font-size: 35px;
    font-family: "Charm", serif;
    text-shadow: 25px 25px 30px lightslategrey;
}

#fragrances .trending {
    width: 100%;
    height: auto;
  /* border: 1px solid black;*/
  margin-top: 40px;
  
 }
 #fragrances .trending  div{
     width: 100%;
     height: auto;
   /*  border: 1px solid black;*/
     font-size: 20px;
   
    
 }
 #fragrances .trending{
     display: grid;
     grid-template-columns: repeat(7,100%);
     align-items: center;
     overflow-x: scroll;
    scrollbar-width: none;
    gap: 30px;
    flex-wrap: wrap;
 }
 #fragrances .trending img{
     width: 100%;
     height: 500px;
     border: 1px solid grey;
 }
 #fragrances .trending h2{
     background-color: black;
     color: antiquewhite;
     padding-top: 10px;
     padding-bottom: 10px;
     font-size: 20px;
     
 }
 #fragrances .journey div p  h2 br{
    display: none;
 }

 #fragrances .trending div p:hover{
     color: darkgoldenrod;
 }
 /* <!--================[sixth section starts here]==========-->*/
/*<!--================[seventh section starts here]==========-->*/
#footprint{
    width: 100%;
    height: auto;
   /* border: 1px solid black;*/
    margin-top: 40px;
    flex-wrap: wrap;
}
#footprint .global {
    width: 100%;
    height:  auto;
  /*  border: 1px solid black;*/
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
    font-size: 20px;
    background-color: aliceblue;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
#footprint .global  h2{
   font-size: 40px;
    color: sienna;
}
#footprint .global div  h2:hover{
    color: black;
}
#footprint .global div p br{
    display: none;
}


/*<!--================[seventh section end here]==========-->*/
#delivery{
    width: 100%;
    height: auto;
  /*  border: 1px solid black;*/
  /*  margin-top: 40px;*/
    flex-wrap: wrap;
    
}
#delivery .inform {
    width: 100%;
    height:  auto;
 /*   border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
#delivery .inform div{
    width: 100%;
    height: 300px;
   border-right: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   font-size: 30px;
   text-align: center;

    
}
#delivery .inform div i{
   font-size:  50px;
   color: sienna;
}
/*!--================[eightth section end here]==========-->*/
/* <!--=====================[MAIN TAG END]===================-->*/
#contact {
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding-top: 60px;
    background-color: black;
    flex-wrap: wrap;
}
#contact p{
   font-size: 20px;
   color: aliceblue;
}

#contact center input{
        width:300PX;
        height:7vh;
        font-size: 30px;
        padding-left: 20px;
}
#contact button{
    font-size: 40px;
    background-color: goldenrod;
    color: aliceblue;
  
   
}
#contact button i{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#contact .signup div{
    width: 100%;
    height: auto;
    border-right: 1px solid aliceblue;
    flex-direction: column;
    padding-top: 40px;
    color: aliceblue;

   
}
#contact .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
#contact .signup h1{
    transition: all 3s ease;
}
#contact .signup h1:hover{
    color: sienna;
}
#contact .signup  i{
    
    background-color: black;
    padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 20px;
      border-radius: 100%;
      font-size: 20px;
      color: aliceblue;
      border: 5px solid aliceblue;
}
#contact .signup i:hover{
    background-color: goldenrod;
    border: 5px solid darkred;
}  
#contact .signup h2{
    font-size: 20px;
    transition: all 3s ease;
}
#contact .signup h2:hover{
    color: sienna;
}

}