*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Oleo Script", system-ui;

}
#top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 60px;
    margin-top: 30px;
    position: absolute;
    color: white;
    font-family: "Oleo Script", system-ui;
    background-color: black;
 
  
}
#bars{
    display: none;
}

    

#top h1{
    border: 1px solid white;
    background-color:red;
    font-size: 70px;
    border-radius: 100%;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    transition: all 2s ease;


}
#top nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 40px;
   
}
#top nav ul li{
    display: flex;
    list-style: none;
    
}
#top nav ul li a{
    text-decoration: none;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    transition: all 2s ease;
}
#top h1:hover{
    border-radius: 100%;
    background-color: transparent;
}
#top nav ul li a:hover{
    color: white;
    font-size: larger;
   background-color: red;
   
    
}
#top h2{
    font-size: 30px;
    transition: all 2s ease;
}
#top h2:hover{
    color: rgb(176, 53, 53);
    
 }
/*------header section end-----*/
/*------main section starts here----*/
#about-html .about{
    width: 100%;
    padding-top: 50px;
    /*border: 1px solid black;*/
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*background-color:lightgoldenrodyellow; */
   gap: 10px;
}
#about-html .about div{
    /* border: 1px solid black;*/
     width: 1100px;
     height: 900px;
 }
#about-html .about div video{
     width: 1100px;
     height: 800px;
     padding-top: 150px;

 }
 .shop{
     display: flex;
   justify-content:center;
     align-items: center;
     flex-direction: column;
   
 }
 .shop h1{
     font-size: 100px;
     text-shadow: 25px 25px 20px  grey;
     
   
 }
 .shop h2{
     font-size: 50px;
 
 }
 .shop p{
     font-size: 30px;
 }
#about-html button{
     font-size: 50px;
     padding-top: 10px;
     padding-left: 30px;
     padding-right: 30px;
     padding-bottom: 10px;
     transition: all 3s ease;
     background-color: brown;
     border-radius: 100px;
    
 
 }
#about-html button:hover{
     border: 1px solid white;
     background-color: lightslategrey;
 }
 /*------====about section end====------*/
 /*-------=====trasition starts here===----*/
#trasition {
    /*width: 100%;
    height: 100vh;
    border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
   
 }
#trasition div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
  
 }
 /*--------=====footer starts here=====-----*/
#connect{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: lightslategray;
}
#connect h3 i{
   background-color: aliceblue;
   padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
     border-radius: 100%;
     font-size: 50px;
}
#connect h3 i:hover{
    color: brown;
}
#connect h1 i{
   color: antiquewhite;
   transition: all 4s ease-in;
}
#connect h1 i:hover{
    color: brown;
}
#connect center div input{
    width:800PX;
    height:7vh;
    font-size: 30px;
}
#inp{
    display: none;
}
/*============footer/main css end ==============*/
/*-----==========@MEDIA QUERY STARTS==========-----*/


@media (max-width :500px){
    /*============TOP MEDIA QUERY STARTS========*/
    #top{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 60px;
        margin-top: 0px;
        position: absolute;
        color: white;
        font-family: "Oleo Script", system-ui;
        background-color: black;
    }
    #bars{
        display: block;
    }
    #bars{
        position: absolute;
        top: 0;
        right: 5%;
        font-size: 40px;
        color: aliceblue;
        z-index: 50;
    }
    #top nav ul{
        display: none;

    }
   
    #top h2{
        font-size: 20px;
        margin-right: 25px;
        color: rgb(230, 219, 219);
    }
    #top nav ul{
        font-size: 10px;
    }
    
   #inp:checked~#top nav ul{
        display: block;
        position: absolute;
        top: 50px;
        right: 0%;
        padding: 20px;
        border-radius: 10px;
       background-color: black;
       line-height: 0%;
     
    }

    
    #top h1{
        border: 1px solid white;
        background-color:red;
        font-size: 20px;
        border-radius: 100%;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        transition: all 2s ease;
    
    
    }
    /*===================TOP END==========*/
    /*=======ABOUT SECTION MEDIA STARTS=====*/
    #about-html .about{
        width: 100%;
        height: auto;
        /*border: 1px solid black;*/
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       gap: none;
       flex-direction: column;
     
     
    }
    
    #about-html .about div{
        /* border: 1px solid black;*/
         width: 350px;
         height: 400px;
         gap: 0px;
         display: flex;
         justify-content: center;
         align-items: center;
         padding-right: 25px;
         
     }
    #about-html .about div video{
         width: 350px;
         height: 400px;
         margin-bottom: 40px;
         margin-right: 10px;
        
       
        
    }
    
    .shop h1{
        font-size: 40px;
        text-shadow: 25px 25px 20px  grey;


   }
    .shop h2{
    font-size: 25px;

   }
    .shop p{
    font-size: 10px;
  }
   #about-html button{
    font-size: 25px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    transition: all 3s ease;
    background-color: red;
   

}
/*=======ABOUT SECTION END=======*/
/*-----trasition starts hera-----*/
#trasition {
    width: 100%;
    height: auto;
   /* border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
   
   
 }
#trasition div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  
 }
 #trasition div video{
    width: 350px;

 }
 /*========TRASITION END=====*/
 /*-------footer starts-------*/
 #connect{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: lightslategray;
     flex-direction: column;
     overflow: hidden !important;
}


#connect br{
    display: none;
}
#connect h3 i {
   background-color: aliceblue;
   padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
   padding-bottom: 7px; 
     border-radius: 50%;
     font-size: 20px;
     color: black;
}

#connect h3 i:hover{
    color: brown;
}
#connect h1 i{
   color: antiquewhite;
   transition: all 3s ease-in;
   font-size: small;
   
}
#connect h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px; 
}
#connect h1 i:hover{
    color: brown;
}
#connect center div input{
    width:100PX;
    height:auto;
    font-size: 10px;
  
}
/*========FOOTER END======*/
}
========={MEDIA QUERY END======}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Oleo Script", system-ui;

}
#top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 60px;
    margin-top: 30px;
    position: absolute;
    color: white;
    font-family: "Oleo Script", system-ui;
    background-color: black;
 
  
}
#bars{
    display: none;
}

    

#top h1{
    border: 1px solid white;
    background-color:red;
    font-size: 70px;
    border-radius: 100%;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    transition: all 2s ease;


}
#top nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 40px;
   
}
#top nav ul li{
    display: flex;
    list-style: none;
    
}
#top nav ul li a{
    text-decoration: none;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    transition: all 2s ease;
}
#top h1:hover{
    border-radius: 100%;
    background-color: transparent;
}
#top nav ul li a:hover{
    color: white;
    font-size: larger;
   background-color: red;
   
    
}
#top h2{
    font-size: 30px;
    transition: all 2s ease;
}
#top h2:hover{
    color: rgb(176, 53, 53);
    
 }
/*------header section end-----*/
/*------main section starts here----*/
#about-html .about{
    width: 100%;
    padding-top: 50px;
    /*border: 1px solid black;*/
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*background-color:lightgoldenrodyellow; */
   gap: 10px;
}
#about-html .about div{
    /* border: 1px solid black;*/
     width: 1100px;
     height: 900px;
 }
#about-html .about div video{
     width: 1100px;
     height: 800px;
     padding-top: 150px;

 }
 .shop{
     display: flex;
   justify-content:center;
     align-items: center;
     flex-direction: column;
   
 }
 .shop h1{
     font-size: 100px;
     text-shadow: 25px 25px 20px  grey;
     
   
 }
 .shop h2{
     font-size: 50px;
 
 }
 .shop p{
     font-size: 30px;
 }
#about-html button{
     font-size: 50px;
     padding-top: 10px;
     padding-left: 30px;
     padding-right: 30px;
     padding-bottom: 10px;
     transition: all 3s ease;
     background-color: brown;
     border-radius: 100px;
    
 
 }
#about-html button:hover{
     border: 1px solid white;
     background-color: lightslategrey;
 }
 /*------====about section end====------*/
 /*-------=====trasition starts here===----*/
#trasition {
    /*width: 100%;
    height: 100vh;
    border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
   
 }
#trasition div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
  
 }
 /*--------=====footer starts here=====-----*/
#connect{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: lightslategray;
}
#connect h3 i{
   background-color: aliceblue;
   padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
     border-radius: 100%;
     font-size: 50px;
}
#connect h3 i:hover{
    color: brown;
}
#connect h1 i{
   color: antiquewhite;
   transition: all 4s ease-in;
}
#connect h1 i:hover{
    color: brown;
}
#connect center div input{
    width:800PX;
    height:7vh;
    font-size: 30px;
}
#inp{
    display: none;
}
/*============footer/main css end ==============*/
/*-----==========@MEDIA QUERY STARTS==========-----*/


@media (max-width :500px){
    /*============TOP MEDIA QUERY STARTS========*/
    #top{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 60px;
        margin-top: 0px;
        position: absolute;
        color: white;
        font-family: "Oleo Script", system-ui;
        background-color: black;
    }
    #bars{
        display: block;
    }
    #bars{
        position: absolute;
        top: 0;
        right: 5%;
        font-size: 40px;
        color: aliceblue;
        z-index: 50;
    }
    #top nav ul{
        display: none;

    }
   
    #top h2{
        font-size: 20px;
        margin-right: 25px;
        color: rgb(230, 219, 219);
    }
    #top nav ul{
        font-size: 10px;
    }
    
   #inp:checked~#top nav ul{
        display: block;
        position: absolute;
        top: 50px;
        right: 0%;
        padding: 20px;
        border-radius: 10px;
       background-color: black;
       line-height: 0%;
     
    }

    
    #top h1{
        border: 1px solid white;
        background-color:red;
        font-size: 20px;
        border-radius: 100%;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        transition: all 2s ease;
    
    
    }
    /*===================TOP END==========*/
    /*=======ABOUT SECTION MEDIA STARTS=====*/
    #about-html .about{
        width: 100%;
        height: auto;
        /*border: 1px solid black;*/
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       gap: none;
       flex-direction: column;
     
     
    }
    
    #about-html .about div{
        /* border: 1px solid black;*/
         width: 350px;
         height: 400px;
         gap: 0px;
         display: flex;
         justify-content: center;
         align-items: center;
         padding-right: 25px;
         
     }
    #about-html .about div video{
         width: 350px;
         height: 400px;
         margin-bottom: 40px;
         margin-right: 10px;
        
       
        
    }
    
    .shop h1{
        font-size: 40px;
        text-shadow: 25px 25px 20px  grey;


   }
    .shop h2{
    font-size: 25px;

   }
    .shop p{
    font-size: 10px;
  }
   #about-html button{
    font-size: 25px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    transition: all 3s ease;
    background-color: red;
   

}
/*=======ABOUT SECTION END=======*/
/*-----trasition starts hera-----*/
#trasition {
    width: 100%;
    height: auto;
   /* border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
   
   
 }
#trasition div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  
 }
 #trasition div video{
    width: 350px;

 }
 /*========TRASITION END=====*/
 /*-------footer starts-------*/
 #connect{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: lightslategray;
     flex-direction: column;
     overflow: hidden !important;
}


#connect br{
    display: none;
}
#connect h3 i {
   background-color: aliceblue;
   padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
   padding-bottom: 7px; 
     border-radius: 50%;
     font-size: 20px;
     color: black;
}

#connect h3 i:hover{
    color: brown;
}
#connect h1 i{
   color: antiquewhite;
   transition: all 3s ease-in;
   font-size: small;
   
}
#connect h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px; 
}
#connect h1 i:hover{
    color: brown;
}
#connect center div input{
    width:100PX;
    height:auto;
    font-size: 10px;
  
}
/*========FOOTER END======*/
}
/*========={MEDIA QUERY END======}*/