*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Oleo Script", system-ui;
    scroll-behavior: smooth;

}
#top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 60px;
    margin-top: 30px;
    position: absolute;
    color: white;
    flex-wrap: wrap;
  
}

    

#top h1{
    border: 1px solid white;
    background-color:red;
    font-size: 70px;
    border-radius: 100%;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    transition: all 2s ease;
   


}
#top nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 40px;
   
}
#top nav ul li{
    display: flex;
    list-style: none;
    
}
#top nav ul li a{
    text-decoration: none;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    transition: all 2s ease;
}
#top h1:hover{
    border-radius: 100%;
    background-color: transparent;
}
#top nav ul li a:hover{
    color: white;
    font-size: larger;
   background-color: red;
}
#top h2{
    font-size: 30px;
    transition: all 2s ease;
    color: white;
   
}
#top h2:hover{
   color: brown;
  
}


/*----------home-----------*/

#home{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-image: url(../images/font\ page.jpeg);
     background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 


}
#home div{
    width: 50%;
    margin-left: 5%;
    line-height: 50px;
    font-size: xx-large;
    
}
#home div h1{
    width: 50PX;
    color: white;
    font-size: 100px;
    text-shadow: 15px 15px 20px  brown;
    
}
#home div p{
    color: white;
}

#home div .B1{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 30px
}
#home div .B2{
    padding-bottom: 10px;
    padding-right: 30px;
    padding-top: 10px;
    padding-left: 30px;   
    font-size: 40px;
}
#home div .B1{
    color: red;
    background: lightcoral;
    border: 1px solid white;
    font-size: 40px;
    
}
#home div .B2:hover{
    color: red;
    background: lightcoral;
    border: 1px solid white;
    font-size: 40px;
}
/*--------second section starts here------*/
#second .about{
      /* width: 100%;*/
       padding-top: 70px;
       /*border: 1px solid black;*/
       background-size: cover;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       /*background-color:lightgoldenrodyellow; */
      /*gap:10px;*/

      
   
}
#second .about div{
   /* border: 1px solid black;*/
    width: 1100px;
    height: 900px;
}
#second .about div video{
    width: 1100px;
    height: 800px;
}
.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.shop h1{
    font-size: 100px;
    text-shadow: 15px 15px 20px grey;

  
}
.shop h2{
    font-size: 50px;

}
.shop p{
    font-size: 30px;
}
#second button{
    font-size: 50px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    transition: all 3s ease;
    background-color: crimson;
   

}
#second button:hover{
    border: 1px solid white;
    background-color: lightslategrey;

}
.shop h3 {
    font-size: 70px;
    gap: 40px;
}

/*----------second section ends here------*/
/*---------third section starts here------*/
#third .offer{
      /*width: 100%;
        height: 100vh; 
     border: 1px solid black;*/
       background-size: cover;
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
      /*background-color:lightgoldenrodyellow;*/
      gap: 60px;
      flex-direction: column;
      
     
}
#third .offer .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: none;
    font-size: 50px;
   
}

#third .offer .after-header{
 display: grid;
 grid-template-columns: repeat(4,500px);
 justify-content: center;
 gap: 30px;
}

/* /* #third .offer div{
    width: 500px;
    height: 900px;
    border: 1px solid black; 
} */

 #third .d1 div{
    border: 1px solid black;
    width: 100%;
    height: 50%;
    background-color: lightslategray;
   
}
#third .d2 div{
    border: 1px solid black;
    width: 100%;
    height: 50%;
    background-color: lightslategray;
}
#third .d3 div{
    border: 1px solid black;
    background-color: lightslategray;
    width: 100%;
    height: 50%;
}
#third .d4 div{
    border: 1px solid black;
    width: 100%;
    height: 50%; 
    background-color: lightslategray;
}
.d1 img{
    width: 500px;
    height: 450px;
}
.d1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 3s ease;
   
}
.d2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 3s ease;
}
.d2 img{
    width: 500px;
    height: 450px;
}
.d3 img{
    width: 500px;
    height: 450px;
}
.d3 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 3s ease;
}
.d4 img{
    width: 500px;
    height: 450px;
}
.d4 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 3s ease;
}
.d1 div h1{
    font-size: 60px;
}
.d2 div h1{
    font-size: 60px;
}
.d3 div h1{
    font-size: 60px;
}
.d4 div h1{
    font-size: 60px;
}
.d1 div p{
    font-size: 50px;
   
}
.d2 div p{
    font-size: 50px;
}
.d3 div p{
    font-size: 50px;
}
.d4 div p{
    font-size: 50px;
}

.d1 div button  {
  font-size: 40px;
  padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
 

}
    
.d2 div button{
    font-size: 40px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
   
}
.d3 div button{
    font-size: 40px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
   
}
.d4 div button{
    font-size: 40px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  
}
.d1 div button:hover{
    color: black;
    border: 1px solid white;
    font-size: 40px;
    background-color: saddlebrown;
   
 

}
.d2 div button:hover{
    color: black;
    border: 1px solid white;
    font-size: 40px;
   background-color: lightsalmon;
}
.d3 div button:hover{
    color: black;
    border: 1px solid white;
    font-size: 40px;
   background-color: brown;
}
.d4 div button:hover{
    color: black;
    border: 1px solid white;
    font-size: 40px;
     background-color: darkgoldenrod;
}
#third .d1 div:hover{
    background-color: lightcoral;
    color: aliceblue;
    
}
#third .d2 div:hover{
    background-color: lightcoral;
    color: aliceblue;
}
#third .d3 div:hover{
    background-color: lightcoral;
    color: aliceblue;
}
#third .d4 div:hover{
    background-color: lightcoral;
    color: aliceblue;
}
/*--------third section end----*/
/*---------scrollbar section  starts here-----*/
#scrollbar .slider div{
    width: 500px;
    height: 500px;
   /* border: 1px solid black;*/
    border-radius: 100px;
    gap: 10px;
}
#scrollbar .slider{
   display: grid;
   grid-template-columns: repeat(7,500px);
   overflow-x: scroll;
   scrollbar-width: none;
}
#scrollbar .content div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    padding-top: 50PX;
}
#scrollbar .slider div img{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    transition: all 3s ease ;

}
#scrollbar .slider div img:hover{
    border-radius: 100%;
    transform: rotate(360deg);


}
/*----------scrollbar end--------------*/
/*--------fourth section starts here-----*/
#fourth div {
     width: 100%; 
    height: 100vh;
   /* border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    flex-wrap: wrap;
}
#fourth div img{
    border-radius: 100px;
   
}
/*--------fourth section end--------*/
/*--------fifth section starts here-----*/
#contact {
  /* width: 100%;
    height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 40px;
    padding-bottom: 50px;
    flex-direction: column;
}
#contact   div input{
    width:800px;
    height:7vh;
    font-size: 30px;
    border-radius: 50px;
    padding-left: 20px;
    background-color: antiquewhite;
}

#contact h1{
    color: brown;
    text-shadow: 15px 15px 10px lightslategray;
   
}
#contact h2{
    width: 300px;
    padding-left: 85px;
    color: white;
    font-size: 50px;
    border-radius: 100px;
    border: 1px solid black;
    background-color: brown;
  
}
#contact h2:hover{
    background-color: aliceblue;
    color: brown;
}
/*---------main section end-------*/
/*--------footer starts here-----*/
#connect{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: lightslategray;
}
#connect h3 i{
   background-color: aliceblue;
   padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
     border-radius: 100%;
     font-size: 50px;
}
#connect h3 i:hover{
    color: brown;
}
#connect h1 i{
   color: antiquewhite;
   transition: all 3s ease-in;
}
#connect h1 i:hover{
    color: brown;
}
#connect center div input{
    width:800PX;
    height:7vh;
    font-size: 30px;
}
@media  (max-width:450px){
    #bars{
        position: absolute;
        top: 12%;
        right: 5%;
        font-size: 40px;
        color: aliceblue;
        z-index: 50;
    }
    #top nav ul{
        display: none;

    }
    #inp:checked~#top nav ul{
        display: block;
        position: absolute;
        top: 30px;
        left: 40;
        padding: 20px;
        border-radius: 10px;
        line-height: 30px;
     
    }
    #home{
        width: 100%;
        height: 100vh;
        border: 1px solid black;
        background-image: url(../images/font\ page.jpeg);
         background-size: cover;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
     
    
    
    }
    
}

    
    
     















    



    


    
   



  
   
     
   


   
