*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Oleo Script", system-ui;
   scroll-behavior: smooth;

}
/*=======[HEADER STARTS HERE]=====*/

#top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 60px;
    margin-top: 30px;
    position: absolute;
    color: white;
    flex-wrap: wrap;
}
#top h1{    
    border: 1px solid white;
    background-color:red;
    font-size: 70px;
    border-radius: 100%;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    transition: all 2s ease;
   


}
#top nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 40px;
   
}
#top nav ul li{
    display: flex;
    list-style: none;
    
}
#top nav ul li a{
    text-decoration: none;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    transition: all 2s ease;
}
#top h1:hover{
    border-radius: 100%;
    background-color: transparent;
}
#top nav ul li a:hover{
    color: white;
    font-size: larger;
   background-color: red;
}
#top h2 a{
    font-size: 30px;
    transition: all 2s ease;
    color: white;
   
}
#top h2 a:hover{
   color: brown;
  
}

/*-------=====top[HEADER TAG] end=========----------*/

/*-------===[MAIN TAG STARTS HERE]====----*/
/*----------========first(HOME) section starts=====-----------*/

#home{
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background-image: url(./images/font\ page.jpeg);
     background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden !important;
 


}
#home div{
    width: 50%;
    margin-left: 5%;
    line-height: 50px;
    font-size: xx-large;
    
}
#home div h1{
    width: 50PX;
    color: white;
    font-size: 100px;
    text-shadow: 15px 15px 20px  brown;
    transition: all 3s ease-in-out;
    
}
#home div h1:hover{
    font-size: 150px;
    transform: rotate(360deg);
    border-radius: 100px;
}
#home div p{
    color: white;
}

#home div .B1{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 30px
}
#home div .B2{
    padding-bottom: 10px;
    padding-right: 30px;
    padding-top: 10px;
    padding-left: 30px;   
    font-size: 40px;
}
#home div .B1{
    color: red;
    background: lightcoral;
    border: 1px solid white;
    font-size: 40px;
    border-radius: 100px;
    
}
#home div .B2:hover{
    color: red;
    background: lightcoral;
    border: 1px solid white;
    font-size: 40px;
    border-radius: 100px;
}
/*---------=================-first section ends=================---*/
/*--------=====second section starts here============------*/
#second .about{
      /* width: 100%;*/
       padding-top: 70px;
       /*border: 1px solid black;*/
       background-size: cover;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       /*background-color:lightgoldenrodyellow; */
      /*gap:10px;*/
      overflow: hidden !important;

      
   
}
#second .about div{
   /* border: 1px solid black;*/
    width: 1100px;
    height: 900px;
}
#second .about div video{
    width: 1100px;
    height: 800px;
}
.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.shop h1{
    font-size: 100px;
    text-shadow: 15px 15px 20px grey;

  
}
.shop h2{
    font-size: 50px;

}
.shop p{
    font-size: 30px;
}
#second button{
    font-size: 50px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    transition: all 3s ease;
    background-color: crimson;
    border-radius: 100px;
   

}
#second button:hover{
    border: 1px solid white;
    background-color: lightslategrey;

}
.shop h3 {
    font-size: 70px;
    gap: 40px;
}

/*----------======second section ends here========------*/
/*--------=======-third section starts here=========------*/
#third .offer{
      width: 100%;
      height: 100vh; 
    /* border: 1px solid black;*/
       background-size: cover;
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
      /*background-color:lightgoldenrodyellow;*/
      gap: 60px;
      flex-direction: column;
      
     
}
#third .offer .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: none;
    font-size: 50px;
    text-shadow: 25px 25px 25px gray;
   
}

#third .offer .after-header{
 display: grid;
 grid-template-columns: repeat(4,500px);
 justify-content: center;
 gap: 30px;
}

/* /* #third .offer div{
    width: 500px;
    height: 900px;
    border: 1px solid black; 
} */

 #third .d1 div{
    /*border: 1px solid black;*/
    width: 100%;
    height: 50%;
    background-color: lightslategray;
   
}
#third .d2 div{
   /* border: 1px solid black;*/
    width: 100%;
    height: 50%;
    background-color: lightslategray;
}
#third .d3 div{
    /*border: 1px solid black;*/
    background-color: lightslategray;
    width: 100%;
    height: 50%;
}
#third .d4 div{
    /*border: 1px solid black;*/
    width: 100%;
    height: 50%; 
    background-color: lightslategray;
}
.d1 img{
    width: 500px;
    height: 450px;
}
.d1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 3s ease;
   
}
.d2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 3s ease;
}
.d2 img{
    width: 500px;
    height: 450px;
}
.d3 img{
    width: 500px;
    height: 450px;
}
.d3 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 3s ease;
}
.d4 img{
    width: 500px;
    height: 450px;
}
.d4 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 3s ease;
}
.d1 div h1{
    font-size: 60px;
}
.d2 div h1{
    font-size: 60px;
}
.d3 div h1{
    font-size: 60px;
}
.d4 div h1{
    font-size: 60px;
}
.d1 div p{
    font-size: 50px;
   
}
.d2 div p{
    font-size: 50px;
}
.d3 div p{
    font-size: 50px;
}
.d4 div p{
    font-size: 50px;
}

.d1 div button  {
  font-size: 40px;
  padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-radius: 100px;
 

}
    
.d2 div button{
    font-size: 40px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-radius: 100px;
   
}
.d3 div button{
    font-size: 40px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-radius: 100px;
   
}
.d4 div button{
    font-size: 40px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-radius: 100px;
  
}
.d1 div button:hover{
    color: black;
    border: 1px solid white;
    font-size: 40px;
    background-color: saddlebrown;
   
 

}
.d2 div button:hover{
    color: black;
    border: 1px solid white;
    font-size: 40px;
   background-color: lightsalmon;
}
.d3 div button:hover{
    color: black;
    border: 1px solid white;
    font-size: 40px;
   background-color: brown;
}
.d4 div button:hover{
    color: black;
    border: 1px solid white;
    font-size: 40px;
     background-color: darkgoldenrod;
}
#third .d1 div:hover{
    background-color: lightcoral;
    color: aliceblue;
    
}
#third .d2 div:hover{
    background-color: lightcoral;
    color: aliceblue;
}
#third .d3 div:hover{
    background-color: lightcoral;
    color: aliceblue;
}
#third .d4 div:hover{
    background-color: lightcoral;
    color: aliceblue;
}
/*--------======third section end=============----*/
/*---------====fourth(scrollbar) section  starts here-----*/
#scrollbar .slider div{
    width: 500px;
    height: 500px;
   /* border: 1px solid black;*/
    border-radius: 100px;
    gap: 10px;
}
#scrollbar .slider{
   display: grid;
   grid-template-columns: repeat(7,500px);
   overflow-x: scroll;
   scrollbar-width: none;
}
#scrollbar .content div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    padding-top: 50PX;
    text-shadow: 20px 20px 25px lightslategrey;
    transition: all 3s ease-in-out;
}
#scrollbar .content div h1:hover{
   color: indianred;
   font-size: 80px;
    
}
#scrollbar .slider div img{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    transition: all 3s ease ;

}
#scrollbar .slider div img:hover{
    border-radius: 100%;
    transform: rotate(360deg);


}
/*----------=====fourth section end=======--------------*/
/*--------=====fifth section starts here=========-----*/
#fourth div {
     width: 100%; 
    height: 100vh;
   /* border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    flex-wrap: wrap;
}
#fourth div img{
    border-radius: 100px;
    transition: all 3s ease ;
   
}
#fourth div img:hover{
    border-radius: 100%;
    transform: rotate(360deg);
  

}
#fourth h2{
    color: crimson;
    transition: all 3s ease;
}
#fourth h2:hover{
    color: darkred;
    border-radius: 100%;
    transform: rotate(360deg);
    
}
#fourth div h1{
    transition: all 3s ease-in-out;
    

}
#fourth div h1:hover{
   color: saddlebrown;
   font-size: 70px;

}
/*--------==========fifth section end======--------*/
/*--------=====sixth(contact)section starts here-----*/
#contact {
  /* width: 100%;
    height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 40px;
    padding-bottom: 50px;
    flex-direction: column;
}
#contact   div input{
    width:800px;
    height:7vh;
    font-size: 30px;
    border-radius: 50px;
    padding-left: 20px;
    background-color: antiquewhite;
}

#contact h1{
    color: brown;
    text-shadow: 15px 15px 10px lightslategray;
   
}
#contact h2{
    width: 300px;
    padding-left: 85px;
    color: white;
    font-size: 50px;
    border-radius: 100px;
    border: 1px solid black;
    background-color: brown;
  
}
#contact h2:hover{
    background-color: aliceblue;
    color: brown;
}
/*----===========sixth section end=====-------*/
/*==============-[main section end]=================-*/
/*--------=======footer starts here=========-----*/
#connect{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: lightslategray;
}
#connect h3 i {
   background-color: aliceblue;
   padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
     border-radius: 100%;
     font-size: 50px;
     color: black;
}
#connect h3 i:hover{
    color: brown;
}
#connect h1 i{
   color: antiquewhite;
   transition: all 3s ease-in;
}
#connect h1 i:hover{
    color: brown;
}
#connect center div input{
    width:800PX;
    height:7vh;
    font-size: 30px;
}
#inp{
    display: none;
}
/*#bars{
    display: none;
}*/
/*================footer ends=================*/
/*============[main css end]============================*/
/*--------====@media query [CSS]starts here=====-----*/
@media  (max-width:500px){
     /*===========TOP MEDIA QUERY STARTS=========*/
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: "Oleo Script", system-ui;
       scroll-behavior: smooth;
    
    }
    #top{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 60px;
        margin-top: 0px;
        position: absolute;
        color: white;
        font-family: "Oleo Script", system-ui;
       /* background-color: black;*/
      
    }
    #bars{
        position: absolute;
        top: 4%;
        right: 10%;
        font-size: 40px;
        color: aliceblue;
        z-index: 50;
    }
    #top nav ul{
        display: none;

    }
   
    #top #logo{
       display: none;
    }
    #top nav ul{
        font-size: 10px;
    }
   
    #inp:checked~#top nav ul{
        display: block;
        position: absolute;
        top: 52px;
        right:5%;
        padding: 20px;
        border-radius: 10px;
       background-color: black;
       line-height: 0%;
     
    }

   
    #top h1{
        border: 1px solid white;
        background-color:red;
        font-size: 25px;
        border-radius: 100%;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        transition: all 2s ease;
        margin-top: 10px;
    
    
    }
    /*================top media end===========*/
    /*===============main tag starts============*/
    /*=========home section css starts=====*/
    #home{
        width: 100%;
        height: 100vh;
        border: 1px solid black;
        background-image: url(./images/font\ page.jpeg);
       /* background-size: cover;*/
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden !important;
    }
    #home .background-image{
        width: 450px;
        
    }
    #home div{
        width: 400px;
        margin-left: 5%;
        line-height: 25px;
        font-size: large;
        
    }
    #home div h1{
       /* width: 40PX;*/
        color: white;
        font-size: 49px;
        text-shadow: 15px 15px 20px  brown;
        
    }
    #home div p{
        color: white;
        font-size: 12px;
    }
    
    #home div .B1{
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        font-size: 20px;
        border-radius: 100px;
    }
    #home div .B2{
        padding-bottom: 5px;
        padding-right: 20px;
        padding-top: 5px;
        padding-left: 20px;   
        font-size: 20px;
        border-radius: 100px;
    }
    #home div .B1{
        color: red;
        background: lightcoral;
        border: 1px solid white;
        font-size: 20px;
        
    }
    #home div .B2:hover{
        color: red;
        background: lightcoral;
        border: 1px solid white;
        font-size: 20px;
    }
    /*=========home section ends=======*/
    /*---------second section starts here--*/
    #second .about{
         width: 100%;
         padding-top: 70px;
         /*border: 1px solid black;*/
         background-size: cover;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;
         /*background-color:lightgoldenrodyellow; */
        /*gap:10px;*/
        overflow: hidden !important;
        background-color: lightcyan
       
  
    }  
    #second .about div {
        height: auto;
    }
    
    .shop h1{
        font-size: 30px;
        text-shadow: 15px 15px 20px grey;
    
      
    }
    #second .about .shop{
        height: auto;
        background-color: lightcyan;
        
    }
    .shop h2{
        font-size: 20px;
    
    }
    .shop p{
        font-size: 10px;
    }
    #second button{
        font-size: 20px;
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
        transition: all 3s ease;
        background-color: crimson;
        border-radius: 100px;
       
    
    }
    #second button:hover{
        border: 1px solid white;
        background-color: lightslategrey;
    
    }
    .shop h3 {
        font-size: 30px;
        gap: 10px;
    }
    #second .about div video{
        width: 90%;
        height: 400px;
        padding-left: 0px;
        overflow: hidden !important;
        background-color: lightcyan;
        margin-left: 13px;

    }
    /*------------===second section end=====----
    ---------=====third section starts here====*/
    #third .offer{
        width: 100%;
          height:auto;
        /* border: 1px solid black;
         background-size: cover;*/
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
        /*background-color:lightgoldenrodyellow;*/
        gap: 3px;
        flex-direction: column;
        overflow: hidden !important;
        background-color:lightcyan;
       
  }
  /*#third .offer .after-header br{
      display: none;
  }*/
  #third .offer .after-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
     padding-right: 20px;
     overflow: hidden !important;
     margin-right: 25px;
    }
    /*#third .offer .after-header div:hover{
        display: none;
    }*/
    
    
  #third .offer .heading{
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto;
      border: none;
      font-size: 20px;
      overflow: hidden !important;
     
 }
  
   #third .d1 div{
      border: 1px solid black;
      width: 100%;
      height: 30%;
      background-color: lightcyan;
     
     
  }
  #third .d2 div{
     border: 1px solid black;
      width: 100%;
      height: 30%;
      background-color: lightcyan;

  }
  #third .d3 div{
      border: 1px solid black;
     background-color: lightcyan;
      width: 100%;
      height: 30%;
  }
  #third .d4 div{
      border: 1px solid black;
      width: 100%;
      height: 30%; 
      background-color: lightcyan;;
  }
  .d1 img{
      width: 350px;
      height: 300px;
  }
  .d1 div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

    
     
  }
  .d2 div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     
  }
  .d2 img{
      width: 350px;
      height: 300px;
  }
  .d3 img{
      width: 350px;
      height: 300px;
  }
  .d3 div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     
  }
  .d4 img{
      width: 350px;
      height: 300px;
  }
  .d4 div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
  }
  .d1 div h1{
      font-size: 30px;
      padding-top: 25px;
      
  }
  .d2 div h1{
      font-size: 30px;
      padding-top: 25px;
  }
  .d3 div h1{
      font-size: 30px;
      padding-top: 25px;
  }
  .d4 div h1{
      font-size: 30px;
      padding-top: 25px;
  }
  .d1 div p{
      font-size: 25px;
     
  }
  .d2 div p{
      font-size: 25px;
  }
  .d3 div p{
      font-size: 25px;
  }
  .d4 div p{
      font-size: 25px;
  }
  
  .d1 div button  {
    font-size: 20px;
    padding-top: 5px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 5px;
      margin-bottom: 10px;
      color: black;
      background-color: lightcyan;
      border-radius: 100px;
   
  
  }
      
  .d2 div button{
    font-size: 20px;
    padding-top: 5px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 5px;
      margin-bottom: 10px;
      color: black;
      background-color: lightcyan;
      border-radius: 100px;

     
  }
  .d3 div button{
    font-size: 20px;
    padding-top: 5px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 5px;
      margin-bottom: 10px;
      color: black;
      background-color: lightcyan;
      border-radius: 100px;
     
  }
  .d4 div button{
    font-size: 20px;
    padding-top: 5px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 5px;
      margin-bottom: 10px;
      color: black;
      background-color: lightcyan;
      border-radius: 100px;
  }
   .d1 div button:hover{
    color: black;
    border: 1px solid white;
    font-size: 20px;
    background-color: saddlebrown;
   
 }
  .d2 div button:hover{
    color: black;
    border: 1px solid white;
    font-size: 20px;
    background-color: saddlebrown;
   
  }
  .d3 div button:hover{
    color: black;
    border: 1px solid white;
    font-size: 20px;
    background-color: saddlebrown;
   
    
  }
  .d4 div button:hover{
    color: black;
    border: 1px solid white;
    font-size: 20px;
    background-color: saddlebrown;
   
  }
  
 #third .d1 div:hover{
    background-color: lightcoral;
    color: aliceblue;
  }
  #third .d2 div:hover{
    background-color: lightcoral;
    color: aliceblue;
  }
  #third .d3 div:hover{
    background-color: lightcoral;
    color: aliceblue;
  }
  #third .d4 div:hover{
    background-color: lightcoral;
    color: aliceblue;
  }
  /*--------third section end----*/
 /*=======third section media query end====*/
/*------------scrollbar section starts here----*/

 #scrollbar .slider div{
    width: 225px;
    height: 250px;
   /* border: 1px solid black;*/
    border-radius: 100px;
    gap: 10px;
 
}
#scrollbar{
    background-color: lightcyan;
    width: 100%;
    overflow: hidden !important;
}
#scrollbar .slider{
   display: grid;
   grid-template-columns: repeat(7,225px);
   overflow-x: scroll;
   scrollbar-width: none;
   
   
}
#scrollbar .content div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-top: 50PX;
}
#scrollbar .slider div img{
    width: 225px;
    height: 225px;
    border-radius: 100%;
    transition: all 3s ease ;

}
#scrollbar .slider div img:hover{
    border-radius: 100%;
    transform: rotate(360deg);


}
/*----------====scrollbar end=====--------------*/
/*--------=====fourth section starts here======--*/
#fourth div {
   width: 100%; 
   /* height: 100vh;
   border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    flex-wrap: wrap;
    background-color: lightcyan;
    overflow: hidden !important;
}
#fourth h2{
    color: crimson;
    transition: all 3s ease;
}
#fourth h2:hover{
    color: darkred;
    border-radius: 100%;
    transform: rotate(360deg);
    
}
#fourth p{
    font-size: 10px;
   
}
#fourth div img{
    border-radius: 100px;
    transition: all 3s ease ;
   
}
#fourth div img:hover{
    border-radius: 100%;
    transform: rotate(360deg);
  

}
/*=======fourth section end=====*/
/*=========contact section starts=====*/

#contact {
     width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    padding-bottom: 50px;
    flex-direction: column;
    background-color: lightsteelblue;
    overflow: hidden !important;
}
#contact   div input{
    width:150px;
    height:7vh;
    font-size: 10px;
   /* border-radius: 50px;*/
    padding-left: 20px;
    background-color: antiquewhite;
}
#contact   div input br{
    display: none;
}

#contact h1{
    color: brown;
    text-shadow: 15px 15px 10px lightslategray;
    padding-top: 20px;
   
}
#contact h2{
    width: 100px;
    padding-left: 25px;
    color: white;
    font-size: 20px;
    border-radius: 100px;
    border: 1px solid black;
    background-color: brown;
  
}
#contact h2:hover{
    background-color: aliceblue;
    color: brown;
}
/*======contact section end ======*/
/*---------======main section end=====-------*/



/*--------======footer starts here======-----*/
#connect{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: lightslategray;
     flex-direction: column;
     overflow: hidden !important;
}


#connect br{
    display: none;
}
#connect h3 i {
   background-color: aliceblue;
   padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
   padding-bottom: 7px; 
     border-radius: 50%;
     font-size: 20px;
     color: black;
}

#connect h3 i:hover{
    color: brown;
}
#connect h1 i{
   color: antiquewhite;
   transition: all 3s ease-in;
   font-size: small;
   
}
#connect h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px; 
}
#connect h1 i:hover{
    color: brown;
}
#connect center div input{
    width:100PX;
    height:auto;
    font-size: 10px;
  
}
/*=========footer end ======*/


}
/*========={MEDIA QUERY END======}*/

    
    
     















    



    


    
   



  
   
     
   


   
